#mainNav {
  background-color: #212529 !important;
}

nav.navbar.navbar-shrink {
  padding: 5px 0 !important;
}

nav.navbar.navbar-shrink .navbar-brand {
  font-size: 1em !important;
  padding: 0 !important;
}

#home {
  padding: 10em 0 5em 0;
}
#home > .header {
  margin: 0 0 50px 0;
  text-align: center;
}

#home > .header > h1 {
  font-size: 3em;
}

#home > .header > small {
  font-size: 1.5em;
}

.container > .row .portfolio-item {
  margin: 20px;
}

@media all and (min-width: 992px) {
  #home .row .portfolio-item img {
    height: 260px;
  }
}

 @media all and (max-width: 768px) {
  nav > div > a[class*="navbar-brand"],
  nav.navbar.navbar-shrink .navbar-brand {
    font-size: 1em !important ;
  }
  nav.navbar.navbar-shrink {
    padding: 0 !important;
  }
}
