nav > div > button[class*="navbar"] {
  color: white !important;
  font-size: 1em !important;
}

nav > div > button[class*="navbar"]:focus{
    border: none !important;
}

header[class="masthead"] {
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

header[class='masthead']>div[class="container"] {
    margin-top: 10vh;
}

header[class='masthead']>div[class="container"]>a[class*="btn"]{
    background-color: #4EC5E2;
    border: none;
    transition-duration:0.15s ;
    transition-property: all;
}

header[class='masthead']>div[class="container"]>a[class*="btn"]:hover{
    background-color: #3c98af;
    color: rgb(189, 189, 189);
    box-shadow: 0 0 1em#6ed0e983;
}

header[class='masthead']>div[class="container"]>a[class*="btn"]:focus{
    box-shadow: 0 0 0 0.2em#4ec4e283;
}

#mainNav {
  transition-duration: 0.5s;
  transition-property: all;
}

nav > div > a[class*="navbar-brand"] {
  color: #4ec5e2 !important;
  font-size: 1.5em !important ;
}

#navbarResponsive a {
    font-size: large !important;
    transition: 0.15s;
}

#navbarResponsive a[class*="active"]{
    color: #33B6E2 !important;

}

#navbarResponsive a:hover {
    color: #33B6E2 !important;
    font-size: x-large !important;
}

#portfolio {
    padding-top: 0;
}

div[class*=row]>div[class*=text-center]{
    margin-top: 5em;
}

.btn-link {
  text-decoration: none;
  color: #626262 !important;
  transition-duration: 0.15s;
}

.row .portfolio-item {
  box-shadow: 0 5px 10px 0 rgba(195, 194, 194, 0.959);
  transition-duration: 0.15s;
  transition-property: all;
}

.row .portfolio-item .portfolio-caption {
  background-color: rgb(246, 246, 246) !important;
  height: 150px;
}

.btn-link:hover {
  color: #33B6E2 !important;
}

.row .portfolio-item:hover {
  box-shadow: 0 5px 30px 5px #33b6e28c;
}


@media all and (max-width: 768px){
    #contents .row .col-md-6 .portfolio-item img {
        min-width: 416px;
      }

      .row .portfolio-item {
        margin-bottom: 10%;
      }
}

@media all and (min-width: 992px){
  #contents .row .col-md-6 .portfolio-item img {
    min-width: 416px;
  }
}

