img {
  object-fit: cover;
}

nav > div > button[class*="navbar"] {
  color: white !important;
  font-size: 1em !important;
  transition: 0.5s;
}

nav > div > button[class*="navbar"]:hover {
  color: #33b6e2 !important;
}

nav > div > button[class*="navbar"]:focus {
  border: none !important;
  box-shadow: none !important;
}

header.masthead {
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

header.masthead > div[class="container"] > a[class*="btn"] {
  background-color: #4ec5e2;
  border: none;
  transition-duration: 0.15s;
  transition-property: all;
}

header.masthead > div[class="container"] > a[class*="btn"]:hover {
  background-color: #3c98af;
  color: rgb(189, 189, 189);
  box-shadow: 0 0 1em#6ed0e983;
}

header.masthead > div[class="container"] > a[class*="btn"]:focus {
  box-shadow: 0 0 0 0.2em#4ec4e283;
}

#mainNav {
  transition-duration: 0.15s;
  transition-property: all;
  padding: 1em;
}

nav > div > a[class*="navbar-brand"] {
  color: #4ec5e2 !important;
  font-size: 1.7em !important ;
  transition: 0.5s !important;
}

nav > div > a[class*="navbar-brand"]:hover {
  color: rgb(255, 255, 255) !important;
  text-shadow: 0 0 25px #60d7ff;
}

.navbar-light button.navbar-toggler {
  border: none;
}

nav.navbar.navbar-shrink {
  padding: 16px 0 !important;
}

nav.navbar.navbar-shrink .navbar-brand {
  font-size: 1.2em !important;
}

#navbarResponsive a {
  font-size: larger !important;
  transition: 0.15s;
}

#navbarResponsive a[class*="active"] {
  color: #33b6e2 !important;
}

#navbarResponsive a:hover {
  color: #33b6e2 !important;
  font-size: x-large !important;
}

#portfolio {
  padding-top: 0;
}

div[class*="row"] > div[class*="text-center"] {
  margin-top: 5em;
}

.btn-link {
  text-decoration: none;
  color: #626262 !important;
  transition-duration: 0.15s;
}

.row .portfolio-item {
  box-shadow: 0 5px 10px 0 rgba(195, 194, 194, 0.959);
  transition-duration: 0.15s;
  transition-property: all;
}

.row .portfolio-item .portfolio-caption {
  background-color: rgb(246, 246, 246) !important;
  height: 150px;
}

.btn-link:hover {
  color: #33b6e2 !important;
}

.row .portfolio-item:hover {
  box-shadow: 0 5px 30px 5px #33b6e28c;
}

#contents .row .col-md-6 .portfolio-item img {
  width: 100%;
}

@media all and (max-width: 768px) {
  .row .portfolio-item {
    margin-bottom: 10%;
  }

  nav > div > a[class*="navbar-brand"],
  nav.navbar.navbar-shrink .navbar-brand {
    font-size: 1em !important ;
  }
  nav.navbar.navbar-shrink button.navbar-toggler {
    font-size: small !important;
  }

  nav.navbar.navbar-shrink {
    padding: 0 !important;
  }


  #navbarResponsive a {
    font-size: 15px !important;
  }

  div[class*="row"] > div[class*="text-center"]>h2 {
    font-size: 30px !important;
  }

  
}

@media all and (max-height: 729px) {
  header.masthead {
    height: min-content;
   
  }

}
